.navbar {
    width: 100%;
    height: 100px;
    background-color: #00d084;
    display: flex;
    flex-direction: row;
}

.navbar .leftSide{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.navbar .leftSide img{
    width: 70px;
}

.navbar .rightSide{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbar a{
    margin-right:20px;
    padding: 0.5rem;
    color: white;
    position: relative;
    text-decoration: none;
    display: inline-block;
  
  }


  .navbar a:before{
    position: absolute;
    content: "";
     -webkit-transition: all 0.35s ease;
     transition: all 0.35s ease;
     opacity: 0;
     left: 15%;
     right: 15%;
     top: 0;
     bottom: 0;
     border-left: 3px solid #27ae60;
     border-right: 3px solid #27ae60;
  }
  .navbar a:hover{
    color: white;
  
  }
  
  .navbar a:hover:before{
    opacity: 1;
    left: 0;
    right: 0;
  }
  
.social-icon-cont{
  display:flex;
  align-items: center;
  gap: 25px;
}

.headIcon{
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: #00d084;
  transition-duration: .5s;
}

.headIcon-size{
  width: 30px;
  headIcon: 30px;
}

.headIcon:hover{
  background-color: #C4E454;
  transform: scale(1.1);    
}

.navbar rightSide rightSide svg{
  front-size: 40px;
}
.navbar #open{
  padding: 0px;
}

.navbar #open img{
  display: none;
}

.navbar #close img{
  display: inherit;
}
.navbar #open .hiddenLinks{
   display: inherit;
   margin-left: 30px;
}

.navbar #close .hiddenLinks{
  display: none;
}

.navbar #open a{
  width: 70px;
  margin: 5px;
}
@media only screen and (max-width:900px){
  .navbar .rightSide a{
    display:none;
  }
  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 600px) {
  
  .navbar .rightSide{
    justify-content: flex-end;
    padding-right: 50px;
  }

  .hiddenLinks {
    display: none;
  }
}@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
