.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  width: 100%;
  height: 58px;
  background-color: #C4E454;
  margin-top: 8px;
  padding: 0px 320px;
  align-content: center;
  
}

nav a{
  margin-right:16px;
  padding: 0.5rem;
    position: relative;
    text-decoration: none;
    display: inline-block;

}
nav a:before{
  position: absolute;
  content: "";
   -webkit-transition: all 0.35s ease;
   transition: all 0.35s ease;
   opacity: 0;
   left: 15%;
   right: 15%;
   top: 0;
   bottom: 0;
   border-left: 3px solid #27ae60;
   border-right: 3px solid #27ae60;
}
nav a:hover{
  color: white;

}

nav a:hover:before{
  opacity: 1;
  left: 0;
  right: 0;
}
